/LSLauncher/obj
LSLauncher/obj/Debug/net8.0/LSLauncher.dll
LSLauncher/obj/Debug/net8.0/LSLauncher.csproj.AssemblyReference.cache
/LSLauncher/obj/Debug
/LSLauncher/obj/Debug/net8.0
LSLauncher/obj/Debug/net8.0/apphost.exe
LSLauncher/obj/Debug/net8.0/Avalonia/resources
LSLauncher/obj/Debug/net8.0/LSLauncher.AssemblyInfoInputs.cache
LSLauncher/obj/Debug/net8.0/LSLauncher.dll
LSLauncher/obj/Debug/net8.0/ref/LSLauncher.dll
LSLauncher/obj/Debug/net8.0/LSLauncher.dll
LSLauncher/obj/Debug/net8.0/LSLauncher.GeneratedMSBuildEditorConfig.editorconfig
LSLauncher/obj/Debug/net8.0/refint/LSLauncher.dll
